fastapi==0.115.0
uvicorn[standard]==0.30.0
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.2
scikit-surprise==1.1.4
nltk==3.9.1
pydantic==2.9.2
kagglehub==0.3.10
sentence-transformers==5.6.0
huggingface_hub==0.30.0

